[submodule "lfmc-staging"]
	url = https://github.com/AnthonyRawlinsUoM/lfmc-staging.git
[submodule "lfmc-pipeline"]
	url = https://github.com/AnthonyRawlinsUoM/lfmc-pipeline.git
[submodule "lfmc-mongodb"]
	url = https://github.com/AnthonyRawlinsUoM/lfmc-mongodb.git
[submodule "lfmc-geoserver"]
	url = https://github.com/AnthonyRawlinsUoM/lfmc-geoserver.git
[submodule "lfmc-docs"]
	url = https://github.com/AnthonyRawlinsUoM/lfmc-docs.git
